body {
  background-color: #eae8fe;
}

#app {
  display: flex;
  justify-content: center;
  gap: 0 28px;
  padding-top: 247px;
}

.title > img {
  position: absolute;
  width: 436px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container-vending-machine,
.container-my-info {
  flex-basis: 360px;
  background-color: #fff;
}
