:root {
  --main: #ffc400;
  --sub: #ffecb3;
  --grey: #bdbdbd;
}

body {
  background-color: var(--main);
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 28px;
  padding-top: 247px;
  margin-bottom: 50px;
}

.title > img {
  position: absolute;
  width: 436px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.container-vending-machine,
.container-my-info {
  flex-basis: 360px;
}

.container-vending-machine,
.container-my-money,
.container-my-item {
  background-color: #fff;
}

/* 자판기 화면 */
.container-vending-machine {
  padding: 31px 27px 28px;
}

.container-vending-machine .list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.list-item li {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.list-item li.sold-out::before {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 10px;
  background: no-repeat center/60px 46px url(../images/Sold-out.png)
    rgba(0, 0, 0, 0.8);
}

.list-item .btn-item {
  width: 100%;
  padding: 11px 12px 9px;
}

.list-item .btn-item:active {
  outline: 3px soild var(--main);
  border-radius: 10px;
}

.list-item .img-item {
  width: 36px;
  height: 60px;
  margin: 0 auto;
}

.list-item .title-item {
  display: block;
  font-size: 9px;
  text-align: center;
  padding: 7px 0;
}

.list-item .txt-price {
  display: block;
  padding: 5px 15px;
  font-size: 10px;
  font-weight: 700;
  background-color: var(--main);
  border-radius: 50px;
}

.list-item-staged {
  height: 106px;
  padding: 12px;
  overflow-y: scroll;
  background-color: var(--sub);
  border-radius: 5px;
  border: 1px solid var(--grey);
}

.list-item-staged li {
  background-color: #fff;
  border-radius: 5px;
}

.list-item-staged li + li {
  margin-top: 6px;
}

.list-item-staged .btn-staged {
  width: 100%;
  padding: 8px;
}

.list-item-staged .img-item,
.list-item-staged .txt-item {
  float: left;
}

.list-item-staged .img-item {
  width: 18px;
  height: 30px;
}

.list-item-staged .txt-item {
  margin-left: 10px;
  line-height: 32px;
  font-size: 10px;
}

.list-item-staged .num-counter {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey);
  border-radius: 5px;
}

/* 구입 관련 정보 */
.container-vending-machine .container-buy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 20px;
}

.container-buy .info-balance,
.container-buy .input-put,
.container-buy .list-item-staged {
  grid-column: 1/3;
  border-radius: 5px;
}

.container-buy .btn-return,
.container-buy .btn-put,
.container-buy .btn-get {
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 700;
}

.container-buy .info-balance {
  padding: 8px;
  background-color: var(--sub);
  font-size: 14px;
}

.container-buy .txt-balance {
  float: right;
}

.container-buy .input-put {
  padding: 6px 8px;
  border: 1px solid var(--grey);
}

.container-buy .input-put::placeholder {
  font-size: 13px;
  color: var(--grey);
}

.container-buy .btn-get {
  background-color: var(--main);
}

/* 나의 정보 */
/* 소지금 */
.container-my-info .container-my-money {
  padding: 10px 28px;
  margin-bottom: 22px;
}

.container-my-money .info-my-money {
  padding: 10px;
  background-color: var(--sub);
  border-radius: 5px;
}

.container-my-money .txt-my-money {
  float: right;
}

/* 확득한 필름 */
.container-my-info .container-my-item {
  height: 474px;
  padding: 28px;
}

.container-my-item .title-my-item {
  display: block;
  margin-bottom: 13px;
  text-align: center;
  font-weight: 700;
}

.container-my-item .list-item-staged {
  height: 364px;
}

.container-my-item .txt-total {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}

/* 반응형 */
@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #app {
    padding-top: 96px;
  }
  body {
    background-color: #fff;
  }
  .title > img {
    width: 200px;
    top: 20px;
  }
}
